<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Friendship Visualizer</title>

<!-- CSS Files -->
<!--<link type="text/css" href="../css/base.css" rel="stylesheet" />

<!--[if IE]><script language="javascript" type="text/javascript" src="../../Extras/excanvas.js"></script><![endif]-->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!-- JIT Library File -->
<script language="javascript" type="text/javascript" src="../js/jit.js"></script>

<!-- Example File -->
<script language="javascript" type="text/javascript" src="../js/friendvisualizer.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.85/dist/themes/light.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.85/dist/shoelace.js"></script>
    <link type="text/css" href="../css/home.css" rel="stylesheet" />
    
    <header style="background-color:#ffffff;padding:3px;position:fixed;top:0;left:0;width:100%;z-index:100; border-bottom: 1px var(--sl-color-neutral-100) solid; box-shadow: 0 5px 5px rgba(0,0,0,.1);">
        <div style="display:inline-block; width:30%">
            <div style="display:flex;justify-content:flex-start;align-items:center;">
                <sl-button variant="text" size="large"> 
                    Pennbook
                </sl-button>
            </div>
        </div>
        <div style="display:inline-block; width:39%">
            
        </div>
        <div style="display:inline-block; width:30%">
            <div style="display:flex;justify-content:flex-end;align-items:center;">
                <sl-button variant="default" size="medium" circle style="padding-left:10px;fill:#f0f2f5;" href="/messages">
                  <sl-icon name="messenger" label="chat" size="large"></sl-icon>
                </sl-button>

                <sl-drawer class="drawer-overview" no-header>
                    <header>
                        <sl-card>
                            <div style="display:inline-block;">
                                <sl-avatar label="User avatar" style="--size:40px"></sl-avatar>
                            </div>
                            <div style="display:inline-block;">
                                <strong> <%=user%></strong>
                                <%=firstname%> <%=lastname%>
                            </div>
                        </sl-card>  
                    </header>

                    <sl-menu style="max-width: 200px;">
                        <sl-menu-item value="settings" onclick="window.location.href = '/settings';">
                            <sl-icon name="gear" label="settings" size="large"></sl-icon>
                            Settings
                        </sl-menu-item>
                        <sl-divider></sl-divider>
                        <sl-menu-item value="log out" onclick="window.location.href = '/logout';">
                            <sl-icon name="box-arrow-right" label="logout" size="large"></sl-icon>
                            Log Out
                        </sl-menu-item>
                    </sl-menu>
                </sl-drawer>

                <sl-button variant="default" size="medium" circle style="padding-left:10px;padding-right:5px;">
                    <sl-avatar label="User avatar" style="--size:40px"></sl-avatar>
                </sl-button>

                <script>
                  const drawer = document.querySelector('.drawer-overview');
                  const openButton = drawer.nextElementSibling;

                  openButton.addEventListener('click', () => drawer.show());
                </script>
            </div>
        </div>  
    </header>
</head>
<body>
<h1> Your friends </h1>
<div id="friendslist">
    Your Friends:
    <ul>
    <%for(var item of friends) {%>
    	<li><%=item.S%></li>
    	<form action = "/removeFriend" method = "post">
    	<button type = "submit" name = "username" value = "<%=item.S%>"> remove friend </button>
    	</form>
    <%}%>
    </ul>
    <h3> Add friend: </h3>
    <form action = "/addFriend" method = "post">
    <input type = "text" name = "newfriend"/>
    <button type = "submit"> add</button>
    </form>
   </div>
   
   <div id="infovis"></div>    
  </body>
  </html>
    
    